.taskDescriptionTableRowHeader{
    font-weight: bold;
}

.ui-diagram-element {   
    width:5em; 
    height:5em;
    line-height:5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-radius: 5em;
    border: 1px solid #404a4e;
    background-color: #404a4e;
    color: #cccccc;
}

.ui-diagram-element:hover {
    background-color: #20282b;
}

.supsub {position: absolute}
.subscript {display:block; position:relative; left:2px; top: -9px}
.superscript {display:block; position:relative; left:2px; top: -5px}

div.ws{ color: #000000; background: #00FF7F none !important; border-color: #00FF7F !important; }
div.we{ color: #000000; background: #FF6347 none !important; border-color: #FF6347 !important; }
div.plan1 { color: #000000; background: rgba(225, 97, 84, 0.5) none !important; border-color: rgba(225, 97, 84, 0.5) !important;}
div.plan2 { color: #000000; background: rgba(172, 112, 163, 0.5) none !important; border-color: rgba(172, 112, 163, 0.5) !important;}
div.plan3 { color: #000000; background: rgba(96, 37, 106, 0.5) none !important; border-color: rgba(96, 37, 106, 0.5) !important;}
div.plan4 { color: #000000; background: rgba(204, 205, 85, 0.5) none !important; border-color: rgba(204, 205, 85, 0.5) !important;}
div.plan5 { color: #000000; background: rgba(255, 55, 0, 0.5) none !important; border-color: rgba(255, 55, 0, 0.5) !important;}
div.plan6 { color: #000000; background: rgba(95, 120, 39, 0.5) none !important; border-color: rgba(95, 120, 39, 0.5) !important;}
div.plan7 { color: #000000; background: rgba(191, 161, 223, 0.5) none !important; border-color: rgba(191, 161, 223, 0.5) !important;}
div.plan8 { color: #000000; background: rgba(110, 221, 84, 0.5) none !important; border-color: rgba(110, 221, 84, 0.5) !important;}
div.plan9 { color: #000000; background: rgba(78, 240, 58, 0.5) none !important; border-color: rgba(78, 240, 58, 0.5) !important;}
div.plan10 { color: #000000; background: rgba(61, 182, 5, 0.5) none !important; border-color: rgba(61, 182, 5, 0.5) !important;}
div.plan11 { color: #000000; background: rgba(102, 36, 82, 0.5) none !important; border-color: rgba(102, 36, 82, 0.5) !important;}
div.plan12 { color: #000000; background: rgba(201, 13, 21, 0.5) none !important; border-color: rgba(201, 13, 21, 0.5) !important;}
div.plan13 { color: #000000; background: rgba(29, 220, 36, 0.5) none !important; border-color: rgba(29, 220, 36, 0.5) !important;}
div.plan14 { color: #000000; background: rgba(221, 120, 120, 0.5) none !important; border-color: rgba(221, 120, 120, 0.5) !important;}
div.plan15 { color: #000000; background: rgba(94, 198, 63, 0.5) none !important; border-color: rgba(94, 198, 63, 0.5) !important;}
div.plan16 { color: #000000; background: rgba(131, 164, 242, 0.5) none !important; border-color: rgba(131, 164, 242, 0.5) !important;}
div.plan17 { color: #000000; background: rgba(10, 53, 16, 0.5) none !important; border-color: rgba(10, 53, 16, 0.5) !important;}
div.plan18 { color: #000000; background: rgba(131, 83, 127, 0.5) none !important; border-color: rgba(131, 83, 127, 0.5) !important;}
div.plan19 { color: #000000; background: rgba(214, 69, 129, 0.5) none !important; border-color: rgba(214, 69, 129, 0.5) !important;}
div.plan20 { color: #000000; background: rgba(231, 14, 171, 0.5) none !important; border-color: rgba(231, 14, 171, 0.5) !important;}
div.plan21 { color: #000000; background: rgba(175, 20, 143, 0.5) none !important; border-color: rgba(175, 20, 143, 0.5) !important;}
div.plan22 { color: #000000; background: rgba(36, 189, 235, 0.5) none !important; border-color: rgba(36, 189, 235, 0.5) !important;}
div.plan23 { color: #000000; background: rgba(227, 226, 176, 0.5) none !important; border-color: rgba(227, 226, 176, 0.5) !important;}
div.plan24 { color: #000000; background: rgba(119, 173, 132, 0.5) none !important; border-color: rgba(119, 173, 132, 0.5) !important;}
div.plan25 { color: #000000; background: rgba(91, 163, 186, 0.5) none !important; border-color: rgba(91, 163, 186, 0.5) !important;}
div.plan26 { color: #000000; background: rgba(6, 127, 145, 0.5) none !important; border-color: rgba(6, 127, 145, 0.5) !important;}
div.plan27 { color: #000000; background: rgba(35, 20, 93, 0.5) none !important; border-color: rgba(35, 20, 93, 0.5) !important;}
div.plan28 { color: #000000; background: rgba(255, 206, 119, 0.5) none !important; border-color: rgba(255, 206, 119, 0.5) !important;}
div.plan29 { color: #000000; background: rgba(33, 103, 123, 0.5) none !important; border-color: rgba(33, 103, 123, 0.5) !important;}
div.plan30 { color: #000000; background: rgba(212, 234, 133, 0.5) none !important; border-color: rgba(212, 234, 133, 0.5) !important;}
div.plan31 { color: #000000; background: rgba(114, 220, 56, 0.5) none !important; border-color: rgba(114, 220, 56, 0.5) !important;}
div.plan32 { color: #000000; background: rgba(60, 178, 128, 0.5) none !important; border-color: rgba(60, 178, 128, 0.5) !important;}
div.plan33 { color: #000000; background: rgba(145, 53, 101, 0.5) none !important; border-color: rgba(145, 53, 101, 0.5) !important;}
div.plan34 { color: #000000; background: rgba(246, 68, 93, 0.5) none !important; border-color: rgba(246, 68, 93, 0.5) !important;}
div.plan35 { color: #000000; background: rgba(74, 158, 237, 0.5) none !important; border-color: rgba(74, 158, 237, 0.5) !important;}
div.plan36 { color: #000000; background: rgba(184, 248, 39, 0.5) none !important; border-color: rgba(184, 248, 39, 0.5) !important;}
div.plan37 { color: #000000; background: rgba(65, 60, 51, 0.5) none !important; border-color: rgba(65, 60, 51, 0.5) !important;}
div.plan38 { color: #000000; background: rgba(198, 81, 253, 0.5) none !important; border-color: rgba(198, 81, 253, 0.5) !important;}
div.plan39 { color: #000000; background: rgba(111, 13, 238, 0.5) none !important; border-color: rgba(111, 13, 238, 0.5) !important;}
div.plan40 { color: #000000; background: rgba(49, 188, 187, 0.5) none !important; border-color: rgba(49, 188, 187, 0.5) !important;}
div.plan41 { color: #000000; background: rgba(177, 70, 138, 0.5) none !important; border-color: rgba(177, 70, 138, 0.5) !important;}
div.plan42 { color: #000000; background: rgba(230, 58, 201, 0.5) none !important; border-color: rgba(230, 58, 201, 0.5) !important;}
div.plan43 { color: #000000; background: rgba(28, 209, 198, 0.5) none !important; border-color: rgba(28, 209, 198, 0.5) !important;}
div.plan44 { color: #000000; background: rgba(41, 155, 125, 0.5) none !important; border-color: rgba(41, 155, 125, 0.5) !important;}
div.plan45 { color: #000000; background: rgba(196, 6, 58, 0.5) none !important; border-color: rgba(196, 6, 58, 0.5) !important;}
div.plan46 { color: #000000; background: rgba(152, 17, 195, 0.5) none !important; border-color: rgba(152, 17, 195, 0.5) !important;}
div.plan47 { color: #000000; background: rgba(130, 25, 149, 0.5) none !important; border-color: rgba(130, 25, 149, 0.5) !important;}
div.plan48 { color: #000000; background: rgba(75, 78, 225, 0.5) none !important; border-color: rgba(75, 78, 225, 0.5) !important;}
div.plan49 { color: #000000; background: rgba(48, 142, 26, 0.5) none !important; border-color: rgba(48, 142, 26, 0.5) !important;}
div.plan50 { color: #000000; background: rgba(49, 210, 0, 0.5) none !important; border-color: rgba(49, 210, 0, 0.5) !important;}
div.plan51 { color: #000000; background: rgba(152, 252, 192, 0.5) none !important; border-color: rgba(152, 252, 192, 0.5) !important;}
div.plan52 { color: #000000; background: rgba(2, 3, 172, 0.5) none !important; border-color: rgba(2, 3, 172, 0.5) !important;}
div.plan53 { color: #000000; background: rgba(95, 43, 242, 0.5) none !important; border-color: rgba(95, 43, 242, 0.5) !important;}
div.plan54 { color: #000000; background: rgba(147, 212, 4, 0.5) none !important; border-color: rgba(147, 212, 4, 0.5) !important;}
div.plan55 { color: #000000; background: rgba(134, 27, 20, 0.5) none !important; border-color: rgba(134, 27, 20, 0.5) !important;}
div.plan56 { color: #000000; background: rgba(89, 50, 124, 0.5) none !important; border-color: rgba(89, 50, 124, 0.5) !important;}
div.plan57 { color: #000000; background: rgba(236, 200, 74, 0.5) none !important; border-color: rgba(236, 200, 74, 0.5) !important;}
div.plan58 { color: #000000; background: rgba(180, 107, 24, 0.5) none !important; border-color: rgba(180, 107, 24, 0.5) !important;}
div.plan59 { color: #000000; background: rgba(103, 208, 46, 0.5) none !important; border-color: rgba(103, 208, 46, 0.5) !important;}
div.plan60 { color: #000000; background: rgba(104, 208, 179, 0.5) none !important; border-color: rgba(104, 208, 179, 0.5) !important;}
div.plan61 { color: #000000; background: rgba(89, 98, 192, 0.5) none !important; border-color: rgba(89, 98, 192, 0.5) !important;}
div.plan62 { color: #000000; background: rgba(212, 157, 222, 0.5) none !important; border-color: rgba(212, 157, 222, 0.5) !important;}
div.plan63 { color: #000000; background: rgba(106, 139, 73, 0.5) none !important; border-color: rgba(106, 139, 73, 0.5) !important;}
div.plan64 { color: #000000; background: rgba(231, 147, 121, 0.5) none !important; border-color: rgba(231, 147, 121, 0.5) !important;}
div.plan65 { color: #000000; background: rgba(234, 152, 6, 0.5) none !important; border-color: rgba(234, 152, 6, 0.5) !important;}
div.plan66 { color: #000000; background: rgba(103, 5, 29, 0.5) none !important; border-color: rgba(103, 5, 29, 0.5) !important;}
div.plan67 { color: #000000; background: rgba(72, 194, 126, 0.5) none !important; border-color: rgba(72, 194, 126, 0.5) !important;}
div.plan68 { color: #000000; background: rgba(252, 115, 165, 0.5) none !important; border-color: rgba(252, 115, 165, 0.5) !important;}
div.plan69 { color: #000000; background: rgba(200, 110, 42, 0.5) none !important; border-color: rgba(200, 110, 42, 0.5) !important;}
div.plan70 { color: #000000; background: rgba(17, 106, 141, 0.5) none !important; border-color: rgba(17, 106, 141, 0.5) !important;}
div.plan71 { color: #000000; background: rgba(46, 87, 134, 0.5) none !important; border-color: rgba(46, 87, 134, 0.5) !important;}
div.plan72 { color: #000000; background: rgba(126, 248, 8, 0.5) none !important; border-color: rgba(126, 248, 8, 0.5) !important;}
div.plan73 { color: #000000; background: rgba(218, 109, 86, 0.5) none !important; border-color: rgba(218, 109, 86, 0.5) !important;}
div.plan74 { color: #000000; background: rgba(48, 232, 245, 0.5) none !important; border-color: rgba(48, 232, 245, 0.5) !important;}
div.plan75 { color: #000000; background: rgba(217, 176, 211, 0.5) none !important; border-color: rgba(217, 176, 211, 0.5) !important;}
div.plan76 { color: #000000; background: rgba(0, 154, 46, 0.5) none !important; border-color: rgba(0, 154, 46, 0.5) !important;}
div.plan77 { color: #000000; background: rgba(142, 129, 218, 0.5) none !important; border-color: rgba(142, 129, 218, 0.5) !important;}
div.plan78 { color: #000000; background: rgba(189, 11, 101, 0.5) none !important; border-color: rgba(189, 11, 101, 0.5) !important;}
div.plan79 { color: #000000; background: rgba(10, 209, 108, 0.5) none !important; border-color: rgba(10, 209, 108, 0.5) !important;}
div.plan80 { color: #000000; background: rgba(21, 79, 238, 0.5) none !important; border-color: rgba(21, 79, 238, 0.5) !important;}
div.plan81 { color: #000000; background: rgba(229, 78, 82, 0.5) none !important; border-color: rgba(229, 78, 82, 0.5) !important;}
div.plan82 { color: #000000; background: rgba(241, 100, 152, 0.5) none !important; border-color: rgba(241, 100, 152, 0.5) !important;}
div.plan83 { color: #000000; background: rgba(154, 17, 158, 0.5) none !important; border-color: rgba(154, 17, 158, 0.5) !important;}
div.plan84 { color: #000000; background: rgba(110, 193, 31, 0.5) none !important; border-color: rgba(110, 193, 31, 0.5) !important;}
div.plan85 { color: #000000; background: rgba(138, 39, 159, 0.5) none !important; border-color: rgba(138, 39, 159, 0.5) !important;}
div.plan86 { color: #000000; background: rgba(175, 31, 133, 0.5) none !important; border-color: rgba(175, 31, 133, 0.5) !important;}
div.plan87 { color: #000000; background: rgba(142, 13, 212, 0.5) none !important; border-color: rgba(142, 13, 212, 0.5) !important;}
div.plan88 { color: #000000; background: rgba(54, 221, 38, 0.5) none !important; border-color: rgba(54, 221, 38, 0.5) !important;}
div.plan89 { color: #000000; background: rgba(229, 93, 48, 0.5) none !important; border-color: rgba(229, 93, 48, 0.5) !important;}
div.plan90 { color: #000000; background: rgba(156, 89, 157, 0.5) none !important; border-color: rgba(156, 89, 157, 0.5) !important;}
div.plan91 { color: #000000; background: rgba(121, 238, 241, 0.5) none !important; border-color: rgba(121, 238, 241, 0.5) !important;}
div.plan92 { color: #000000; background: rgba(196, 97, 17, 0.5) none !important; border-color: rgba(196, 97, 17, 0.5) !important;}
div.plan93 { color: #000000; background: rgba(160, 99, 214, 0.5) none !important; border-color: rgba(160, 99, 214, 0.5) !important;}
div.plan94 { color: #000000; background: rgba(168, 201, 182, 0.5) none !important; border-color: rgba(168, 201, 182, 0.5) !important;}
div.plan95 { color: #000000; background: rgba(50, 96, 0, 0.5) none !important; border-color: rgba(50, 96, 0, 0.5) !important;}
div.plan96 { color: #000000; background: rgba(236, 32, 243, 0.5) none !important; border-color: rgba(236, 32, 243, 0.5) !important;}
div.plan97 { color: #000000; background: rgba(253, 90, 251, 0.5) none !important; border-color: rgba(253, 90, 251, 0.5) !important;}
div.plan98 { color: #000000; background: rgba(203, 114, 164, 0.5) none !important; border-color: rgba(203, 114, 164, 0.5) !important;}
div.plan99 { color: #000000; background: rgba(37, 67, 7, 0.5) none !important; border-color: rgba(37, 67, 7, 0.5) !important;}
div.plan100 { color: #000000; background: rgba(121, 86, 164, 0.5) none !important; border-color: rgba(121, 86, 164, 0.5) !important;}
