<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Plan Scheduler</title>
    </h:head>

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Scheduler"></h:outputText>
        </ui:define>

        <ui:define name="top">
            <h:form id="topForm">
                <p:outputLabel style="float:left;"><h3>Plans of tasks Scheduler</h3></p:outputLabel>
                <p:commandButton oncomplete="PF('SchedulerInfoDialog').show()" icon="ui-icon-help" style="float:right" />
                <p:dialog header="Info" widgetVar="SchedulerInfoDialog" modal="true" draggable="false"
                          showEffect="fade" hideEffect="fade" resizable="false" appendTo="@(body)">
                    <p:outputPanel style="text-align:center;">
                        <center>
                            <h2>Scheduler for Plans of Tasks</h2>
                            <br/>
                            <h:graphicImage name="images/scheduler_icon.png" style="width: 55%;height: auto;" />
                            <br/>
                            <br/>
                            Written by Davide Andrea Guastella
                            <br/>
                            under the supervision of
                            <br/>
                            Amal El Fallah Seghrouchni (Lip6-UPMC) and 
                            <br/>
                            Safia Kedad-Sidhoum (Lip6-UPMC)
                        </center>
                    </p:outputPanel>
                </p:dialog>


                <p:growl id="growl" showSummary="true" showDetail="true" autoUpdate="true"/> 
            </h:form>
        </ui:define>

        <ui:define name="body">
            <h:form id="form">  
                <p:timeline id="timeline" value="#{timelineView.model}" 
                            editable="true" eventMargin="10" eventMarginAxis="0" 
                            showCurrentTime="true"
                            showNavigation="true" 
                            showButtonNew="false" 
                            stackEvents="#{timelineView.stackEvents}" 
                            axisOnTop="#{timelineView.axisOnTop}"              
                            eventStyle="#{timelineView.eventStyle}"
                            selectable="#{timelineView.selectable}">  
                    <p:ajax update=":eastForm" process="@form" event="select" listener="#{timelineView.onTaskSelected}"/>  

                </p:timeline>

            </h:form>
        </ui:define>

        <ui:define name="west">
            <h:form id="westForm" enctype="multipart/form-data"> 
                <p:dialog header="Upload plans" widgetVar="uploadDialog" modal="true" height="200" appendTo="@(body)">
                    <p:fileUpload value="#{timelineView.selectedFile}" mode="advanced" skinSimple="true" multiple="false" 
                                  label="Choose Plans" fileUploadListener="#{timelineView.handleFileUpload}" update="accordion:uploadFileNameLabel"
                                  allowTypes="/(\.|\/)(csv)$/"
                                  />
                </p:dialog>

                <p:dialog header="Upload CSV" widgetVar="uploadProcFuncDialog" modal="true" height="200" appendTo="@(body)">
                    <p:fileUpload value="#{timelineView.selectedProcessingTimeFuncFile}" mode="advanced" skinSimple="true" multiple="false" 
                                  label="Choose file" fileUploadListener="#{timelineView.handleProcTimeFuncFileUpload}" update="accordion:uploadedfuncFileNameLabel"
                                  allowTypes="/(\.|\/)(csv)$/"
                                  />
                </p:dialog>

                <p:accordionPanel id="accordion">
                    <p:tab title="Plans Upload">

                        <p:panelGrid columns="1" style="width: 100%;">
                            <p:row>
                                <p:commandButton value="Upload plans" type="button" update=":uploadFileNameLabel" style="width: 100%;" onclick="PF('uploadDialog').show()"/>
                            </p:row>
                            <p:row>
                                <h:outputLabel value="Uploaded File:" />
                                <br/>
                                <h:outputLabel id="uploadFileNameLabel" style="font-weight:bold" value="#{timelineView.uploadedFileName}" />
                            </p:row>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab title="Processing time functions">
                        <p:panelGrid columns="1" style="width: 100%;">
                            <p:row>
                                <p:commandButton value="Upload CSV" type="button" update=":uploadedfuncFileNameLabel" style="width: 100%;" onclick="PF('uploadProcFuncDialog').show()"/>
                            </p:row>
                            <p:row>
                                <h:outputLabel value="Uploaded File:" />
                                <br/>
                                <h:outputLabel id="uploadedfuncFileNameLabel" style="font-weight:bold" value="#{timelineView.uploadedProcessingTimeFunctionFileName}" />
                            </p:row>
                            <p:row>
                                <p:commandButton value="Unload" ajax="true" style="width: 100%;" update=":westForm:accordion"
                                                 actionListener="#{timelineView.unloadProcessingTimeFunctions}"/>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>

                    <p:tab title="Scheduler">
                        <p:panelGrid columns="1">
                            <p:commandButton style="width: 100%;" value="Schedule plans" actionListener="#{timelineView.onScheduleButtonClicked}" 
                                             styleClass="button" ajax="true" update=":form:timeline :topForm:growl :westForm:accordion"/>

                            <p:commandButton style="width: 100%;" value="Clear" actionListener="#{timelineView.onClearButtonClicked}" styleClass="button" ajax="true" update=":form:timeline :topForm:growl"/>
                            <p:row>
                                <h:outputLabel for="WsSpinner" styleClass="taskDescriptionTableRowHeader" >W<sub>s</sub></h:outputLabel>
                                <p:spinner size="4" id="WsSpinner" value="#{timelineView.ws}" min="0" max="100" suffix="s"/>
                            </p:row>
                            <p:row>
                                <h:outputLabel for="WeSpinner" styleClass="taskDescriptionTableRowHeader" >W<sub>e</sub></h:outputLabel>
                                <p:spinner size="4" id="WeSpinner" value="#{timelineView.we}" min="0" max="10000" 
                                           disabled="#{timelineView.autoFixWe}" suffix="s"/>
                            </p:row>
                            <p:row>
                                <p:selectBooleanCheckbox id="autoFixWeCheckBox" value="#{timelineView.autoFixWe}">
                                    <p:ajax event="change" update="WeSpinner" />
                                </p:selectBooleanCheckbox>
                                <h:outputLabel for="autoFixWeCheckBox" >Auto-fix W<sub>e</sub></h:outputLabel>
                                <p:tooltip id="toolTipAutoFixWe" for="autoFixWeCheckBox" value="If checked, the value of We is fixed to the earliest time that enclose all the scheduled plans." position="bottom"/>
                            </p:row>

                            <p:row>
                                <h:outputLabel for="maxResCapacity" styleClass="taskDescriptionTableRowHeader" >Max resource capacity</h:outputLabel>
                                <p:spinner size="8" id="maxResCapacity"  value="#{timelineView.maxResourceCapacity}" min="1" max="100">
                                    <p:ajax update=":form:timeline" />
                                </p:spinner>
                            </p:row>
                        </p:panelGrid>
                    </p:tab>

                    <!--    DISCARDED PLANS    -->
                    <p:tab id="tasksTab" title="Discarded plans">

                        <!-- Data table for listing the discarded plans -->
                        <p:dataTable id="discardedPlansDataTable" var="plan" value="#{timelineView.discardedPlans}" editable="false">
                            <f:facet name="header">
                                Discarded Plans
                            </f:facet>
                            <p:column>
                                <p:commandLink id="discardedPlanInfo" oncomplete="PF('discardedPlanInfoDialog').show()" update=":westForm:accordion:discardedPlanDetail" styleClass="ui-icon ui-icon-info" style="float:left;margin-right:2px">
                                    <f:setPropertyActionListener value="#{plan}" target="#{timelineView.selectedDiscardedPlan}" />
                                </p:commandLink>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{plan.name}" />
                            </p:column>
                            <p:column headerText="Id">
                                <h:outputText value="#{plan.ID}" />
                            </p:column>
                        </p:dataTable>

                        <!-- 
                        Dialog used to show (when clicking the info icon in the 
                        table) the informations on the selected discarded plan.
                        -->
                        <p:dialog header="Discarded Plan Info" widgetVar="discardedPlanInfoDialog" modal="true" draggable="false"
                                  showEffect="fade" hideEffect="fade" resizable="false" appendTo="@(body)">
                            <p:outputPanel id="discardedPlanDetail" style="text-align:center;">
                                <p:panelGrid  columns="2" rendered="#{not empty timelineView.selectedDiscardedPlan}" columnClasses="label,value">
                                    <h:outputLabel value="Plan name:" />
                                    <h:outputLabel value="#{timelineView.selectedDiscardedPlan.name}" />

                                    <h:outputLabel value="Plan ID:" />
                                    <h:outputLabel value="#{timelineView.selectedDiscardedPlan.ID}" />

                                    <h:outputLabel value="Plan priority:" />
                                    <h:outputLabel value="#{timelineView.selectedDiscardedPlan.priority}" />

                                    <h:outputLabel value="Number of tasks:" />
                                    <h:outputLabel value="#{timelineView.selectedDiscardedPlan.numberOfTasks}"/>
                                </p:panelGrid>
                            </p:outputPanel>
                        </p:dialog>
                    </p:tab>

                    <!--    PLANS LIST    -->
                    <p:tab id="plansTab" title="Plans List">
                        <p:dataTable id="plansDataTable" var="plan" value="#{timelineView.allPlans}" editable="false">
                            <f:facet name="header">
                                Plans
                            </f:facet>
                            <p:column>
                                <p:commandLink id="planInfo" oncomplete="PF('planInfoDialog').show()" update=":westForm:accordion:planDetail" styleClass="ui-icon ui-icon-info" style="float:left;margin-right:2px">
                                    <f:setPropertyActionListener value="#{plan}" target="#{timelineView.selectedPlan}" />
                                </p:commandLink>
                            </p:column>
                            <p:column headerText="Name">
                                <h:outputText value="#{plan.name}"/>
                            </p:column>
                            <p:column headerText="Id" sortBy="#{plan.ID}">
                                <h:outputText value="#{plan.ID}" />
                            </p:column>
                        </p:dataTable>
                        <!--
                        Dialog used to show (when clicking the info icon in the 
                        table) the informations on the selected plan.
                        -->
                        <p:dialog header="Plan Info" widgetVar="planInfoDialog" modal="true" draggable="false"
                                  showEffect="fade" hideEffect="fade" resizable="false" appendTo="@(body)">
                            <p:outputPanel id="planDetail" style="text-align:center;">
                                <center>
                                    <p:panelGrid  columns="2" rendered="#{not empty timelineView.selectedPlan}" columnClasses="label,value">
                                        <h:outputLabel value="Id:" />
                                        <h:outputLabel value="#{timelineView.selectedPlan.ID}" />
                                        <h:outputLabel value="Priority:" />
                                        <h:outputLabel value="#{timelineView.selectedPlan.priority}" />
                                        <h:outputLabel value="Tasks:" />
                                        <h:outputLabel value="#{timelineView.getNumberOfTasks(timelineView.selectedPlan)}" />
                                        <h:outputLabel value="Time units employed:" />
                                        <h:outputLabel value="#{timelineView.getEmployedTimeUnits(timelineView.selectedPlan)}" />
                                    </p:panelGrid>
                                </center>
                                <p:separator/>
                                <p:dataTable var="task" value="#{timelineView.selectedPlan.tasks}" tableStyle="width:auto">
                                    <p:column headerText="Task ID">
                                        <h:outputText value="#{task.ID}"/>
                                    </p:column>
                                    <p:column headerText="Release time">
                                        <h:outputText value="#{task.releaseTime}"/>
                                    </p:column>
                                    <p:column headerText="Due date">
                                        <h:outputText value="#{task.dueDate}"/>
                                    </p:column>
                                    <p:column headerText="Processing Time">
                                        <h:outputText value="#{task.processingTime}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:outputPanel>

                        </p:dialog>
                    </p:tab>
                    <!--    EXECUTION ORDER LIST    -->
                    <p:tab id="executionOrderTab" title="Execution Order">
                        <p:dataTable id="startingTimeDataTable" var="taskSchedule" value="#{timelineView.taskSchedule}" editable="false"
                                     rowStyleClass="#{ timelineView.getCSSClassForPlan(taskSchedule.task.planID)}">
                            <f:facet name="header">
                                Execution Order
                            </f:facet>
                            <p:column headerText="Plan ID">
                                <h:outputText value="#{taskSchedule.task.planID}"/>
                            </p:column>
                            <p:column headerText="Task ID">
                                <h:outputText value="#{taskSchedule.task.ID}" />
                            </p:column>
                            <!--<p:column headerText="Resource ID">
                                <h:outputText value="" />
                            </p:column>-->
                            <p:column>
                                <f:facet name="header">
                                    s<sub>k</sub>
                                </f:facet>
                                <h:outputText value="#{taskSchedule.startingTime}" />
                            </p:column>
                        </p:dataTable>
                    </p:tab>
                </p:accordionPanel>

            </h:form>
        </ui:define>


        <ui:define name="east">
            <h:form id="eastForm"> 

                <p:panelGrid columns="2" style="width:100%;">
                    <f:facet name="header">
                        <p:row>
                            <p:column colspan="2"><h:outputLabel style="text-align: center;font-weight: bold" >Task Data</h:outputLabel></p:column>
                        </p:row>
                    </f:facet>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" value="Plan Name"/>
                    <h:outputLabel value="#{timelineView.selectedEvent.planName}"/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" value="Plan ID"/>
                    <h:outputLabel value="#{timelineView.selectedEvent.plan.ID}"/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" value="Plan Priority"/>
                    <h:outputLabel value="#{timelineView.selectedEvent.plan.priority}"/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" value="Task ID (k)"/>
                    <h:outputLabel value="#{timelineView.selectedEvent.task.ID}"/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader">Resource ID (&rho;)</h:outputLabel>
                    <h:outputLabel value=""/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" >Release time (r<sub>k</sub>)</h:outputLabel>
                    <h:outputLabel value="#{timelineView.selectedEvent.task.releaseTime}"/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" >Due date (d<sub>k</sub>)</h:outputLabel>
                    <h:outputLabel value="#{timelineView.selectedEvent.task.dueDate}"/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" >Processing time (p<sub>k</sub>)</h:outputLabel>
                    <h:outputLabel value="#{timelineView.selectedEvent.task.getProcessingTime(timelineView.selectedEvent.startingTime)}"/>
                </p:panelGrid>
                <br/>
                <p:panelGrid columns="2" style="width:100%;">
                    <f:facet name="header">
                        <p:row>
                            <p:column colspan="2"><h:outputLabel style="text-align: center;font-weight: bold" >Calculated Data</h:outputLabel></p:column>
                        </p:row>
                    </f:facet>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader" >Starting time (s<sub>k</sub>)</h:outputLabel>
                    <h:outputLabel value="#{timelineView.selectedEvent.startingTime}"/>
                    <h:outputLabel styleClass="taskDescriptionTableRowHeader">Completion time (C<sub>k</sub>)</h:outputLabel>
                    <h:outputLabel value="#{timelineView.selectedEvent.startingTime+timelineView.selectedEvent.task.getProcessingTime(timelineView.selectedEvent.startingTime)}"/>
                </p:panelGrid>
                <br/>

                <p:commandButton value="Plot p(t)" id="nonAjax" actionListener="#{timelineView.onShowProcessingTimeFunctionPlot}" ajax="true" style="width: 100%;"/>
                <p:dialog header="" widgetVar="ProcessingTimeFunctionDialog" modal="true" draggable="false"
                          showEffect="fade" hideEffect="fade" resizable="false" appendTo="@(body)">
                    <p:outputPanel style="text-align:center;">
                        <p:chart id="processingTimePlot" type="line" model="#{timelineView.processingTimeFuncModel}" style="height:400px;width: 600px;"/>
                    </p:outputPanel>
                </p:dialog>



            </h:form>
        </ui:define>

    </ui:composition>
</html>

