<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pf="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="plansColor.css"/>
    </h:head>

    <h:body>
        <p>
            <pf:layout style="min-width:400px;" fullPage="true">
                <pf:layoutUnit position="north" resizable="false" closable="false" collapsible="false" style="min-height:70px">
                    <ui:insert name="top">Top bar</ui:insert>
                </pf:layoutUnit>

                <pf:layoutUnit position="west" resizable="true" closable="true" collapsible="true" style="min-width:270px">
                    <ui:insert name="west">West bar</ui:insert>
                </pf:layoutUnit>

                <pf:layoutUnit position="center" closable="false" collapsible="false">
                    <ui:insert name="body">Default Body</ui:insert>
                </pf:layoutUnit>

                <pf:layoutUnit position="east" resizable="false" closable="true" collapsible="true" style="min-width:250px">
                    <ui:insert name="east">East bar</ui:insert>
                </pf:layoutUnit>
            </pf:layout>
        </p>
    </h:body>

</html>