<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>


    <ui:composition template="/template.xhtml">


        <ui:define name="body">
            <h:form>
                <p:growl id="growl" showSummary="true" showDetail="true" autoUpdate="true"/> 

                <p:timeline id="timeline" value="#{basicTimelineView.model}" height="250px" 
                            selectable="#{basicTimelineView.selectable}" 
                            zoomable="#{basicTimelineView.zoomable}" 
                            moveable="#{basicTimelineView.moveable}" 
                            stackEvents="#{basicTimelineView.stackEvents}" 
                            axisOnTop="#{basicTimelineView.axisOnTop}"              
                            eventStyle="#{basicTimelineView.eventStyle}" 
                            showCurrentTime="#{basicTimelineView.showCurrentTime}" 
                            showNavigation="#{basicTimelineView.showNavigation}"> 

                    <p:ajax event="select" listener="#{basicTimelineView.onSelect}"/>  

                </p:timeline>
            </h:form>
        </ui:define>
    </ui:composition>






</html>

